<div class="navigation-bar">
    <div class="navigation-brand">
        <a href="">House 27 Homes</a>
        <div class="navigation-menu @Active" @onclick="ToggleNavMenu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navigation-pages @NavMenuCssClass" @onclick="ToggleNavMenu">
        <div class="navigation-link">
            <div class="navigation-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            <div class="navigation-item">
                <NavLink href="counter">
                    Properties
                </NavLink>
            </div>
            <div class="navigation-item">
                <NavLink href="weather">
                    About
                </NavLink>
            </div>
            <div class="navigation-item">
                <NavLink href="counter">
                    Blog
                </NavLink>
            </div>
            <div class="navigation-item">
                <NavLink href="weather">
                    Contact
                </NavLink>
            </div>
        </div>
        
        <div class="stand-alone">
            <div class="navigation-item">
                <NavLink href="counter">
                    Contact
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool folded = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string? Active => folded ? "active" : "";

    private void ToggleNavMenu()
    {
        folded = !folded;

        collapseNavMenu = !collapseNavMenu;
    }
}