<div class="item-card">
    <div class="item-image"></div>
    <div class="item-descriptio">
        <div class="item-name">
            <h2>@Items.Name</h2>
        </div>
        <div class="item-rating">
            <div class="price">
                <p><strong>@Items.Price k</strong></p>
            </div>

            <div class="review">&starf; @Items.Rating</div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public NewArrivals Items { get; set; } = default!;
}