.property-card {
    background: var(--primary);
    box-shadow: var(--l-shad);
    border-radius: var(--space-2);
    width: 80vw;
    overflow: hidden;
    scroll-snap-align: center;
    margin: 0 var(--space-2);
}

.image {
    height: 40vh;
    margin-bottom: .5rem;
    background: #4b000080;
    position: relative;
}

.like {
    border-radius: 50%;
    height: 80px;
    width: auto;
    background: var(--text);
    box-shadow: var(--l-shadow);
    position: absolute;
    top: 5px;
    left: 5px;
}

.property-name, .property-location, .property-rating { margin: .5rem auto }

.property-name {
    margin: .5rem auto;
    width: 90%;
}

.property-name h2 {
    font-weight: 800;
}

.property-rating {
    display: flex;
    justify-content: space-between;
}

.price p strong {
    font-size: 1.4rem;
    color: var(--secondary);
}