@page "/"

<PageTitle>Home - House27</PageTitle>

<section class="hero-section">
    <div class="overlay"></div>
    <div class="title-section">
        <h1>
            Your dream home <em>is</em> within reach
        </h1> <br>
        <p class="px-5 py-4">
            Find the space your soul recognizes with expertly curated properties, trusted local agents, and a seamless experience. <br> <i>Let us guide you home.</i>
        </p>
        <div class="btn-area">
            <button>Discover More</button>
        </div>
    </div>
</section>

<section class="bg">
    <section class="flex-container">
        <PropertyCard />
    </section>

    <section class="image-grid">
        <div class="grid-title"><h2>Start with what you need</h2></div>
        <div class="grid-container">
            <ImageCard />
        </div>
    </section>
</section>